# Dependencias
node_modules/
.pnp/
.pnp.js

# Builds
dist/
build/
out/
.next/
.vite/

# Entorno
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor / SO
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# Cachés
.cache/
*.tsbuildinfo
coverage/
